h3,
p,
body {
  color: black !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white !important;
}

h3 {
  color: rgb(51, 107, 51) !important;
  font-family: "fangsong";
}

.container {
  background-color: white !important;
  margin-top: 10%;
}

.delete-icon {
  margin-left: 2%;
}

.comment-list {
  border: none;
  padding: 0;
}

.comment-date {
  font-size: small;
  color: #808080a6;
}

.comment-name {
  font-size: small;
  color: #808080a6;
}

.ul-comments {
  max-width: 80%;
}

@media screen and (max-width: 1196px) {
  .container {
    margin-top: 15%;
  }
}

@media screen and (max-width: 991px) {
  .container {
    margin-top: 20%;
  }
}

@media screen and (max-width: 910px) {
  .container {
    margin-top: 20%;
  }
}

@media screen and (max-width: 766px) {
  .container {
    margin-top: 25%;
  }
}

@media screen and (max-width: 540px) {
  .container {
    margin-top: 30%;
  }
}

@media screen and (max-width: 280px) {
  .container {
    margin-top: 30%;
  }
}
