.sectionOne {
  background-color: #1b252f;
  height: 140px;
}

.GETFLIX {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  margin-left: 20px;
}

.LOGO {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  margin-left: 20px;
}

.logout {
  margin-left: 1300px;
  width: 90px;
  height: 50px;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

.image {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: 450px;
}

.container {
  margin-top: 10%;
}

/* @media screen and (max-width: 680px){
    .image{
        width: 200px;
        height: 200px;
        margin-top:20px ;
        margin-left: 150px;
    }
    .logout{
        margin-left: 400px;
        width: 90px;
        height: 50px;
        font-size: 20px;
        border: 2px solid black;
        padding: 10px;
        text-align: center;
    }

} */

@media screen and (max-width: 1196px) {
  .image {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 360px;
  }
  .logout {
    margin-left: 1070px;
    width: 90px;
    height: 50px;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .image {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 250px;
  }
  .logout {
    margin-left: 700px;
    width: 90px;
    height: 50px;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 910px) {
  .image {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 250px;
  }
  .logout {
    margin-left: 800px;
    width: 90px;
    height: 50px;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 766px) {
  .image {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 160px;
  }
  .logout {
    margin-left: 600px;
    width: 90px;
    height: 50px;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .image {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 140px;
  }
  .logout {
    margin-left: 400px;
    width: 90px;
    height: 50px;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 280px) {
  .image {
    width: 150px;
    height: 200px;
    margin-top: 20px;
    margin-left: 30px;
  }
  .logout {
    margin-left: 400px;
    width: 90px;
    height: 50px;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
  }
}
