
  /*--------------------------------------------------------General colors --------------------------------*/
  body, main, footer {
    background-color: rgb(22, 39, 39);
    text-align: center;
  }
  p {
    color:whitesmoke;
  }
  div {
    color: whitesmoke;
  }
  a {
    color: #79b8f3;
  }
  .dropdown {
    background-color:rgb(22, 39, 39) ;
  }
  /*----------------------------------------------------Navbar---------------------------------*/
  .navbar-toggler {
    background-color:rgb(35, 65, 65) ;
  }
  .navbar-toggler-icon {
    background-color: rgb(43, 78, 78);
  }

  /*----------------------------------------------------Footer---------------------------------*/
  #bottomLogo {
  color:whitesmoke;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  }
  #bottomLinks {
    color:whitesmoke;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
  }

  @media only screen and (min-width: 680px) {
       
        #accountButton {
            float:right;
        }
        ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr );
          }
}  
@media only screen and (min-width: 1000px) { 
    ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr );
      }
}