.ligne{
    width: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
}

.parametre{
    box-shadow: 3px 3px 6px 6px #A9A9A9;
    padding-right: 50px;
    border: 1px solid black;
    height: 40px;
    width: 255px;
    
}

.getflix{
    margin-top: 30px;
} 

.titreForm{
    font-weight: bolder;
    font-size: 25px;
}
