/*--------------------------------------------------------General colors --------------------------------*/
body {
  width: 100%;
  background-color: rgb(22, 39, 39);
}
p {
  color:whitesmoke;
}
.header {
  height: 300px;
}
div {
  color: whitesmoke;
}
a {
  color: #79b8f3;
}
/*--------------------------------------------------------Navigation Bar --------------------------------*/
.topnav {
    overflow: hidden;
    background-color: rgb(22, 39, 39);
  }
  .topnav a {
    float: left;
    display: block;
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #90cf47;
    color: whitesmoke;
  }
  /*--------------------------------------------------------Search Bar--------------------------------*/
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 95px;
    font-size: 17px;
    max-width: 250px;
    background-color: darkcyan;
  }
  /*--------------------------------------------------------Account Button--------------------------------*/
  .button {
    top: 0px;
    right: -77%;
    margin-right: 5px;
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: whitesmoke;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  .button {border-radius: 12px;}
  
/*-----------------------------------------------------------Category titles---------------------------*/
#btnViewMore {
  display:inline-block;
  text-decoration: none;
  width:100px;
  height: 20px;
  font-size: 20px;
  text-align: center ;
  line-height: 60px;
}
/*-----------------------------------------------------------GRID Disposition---------------------------*/
.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 150px 150px 150px 150px;
  margin-top: 5%;
	/*border: 1px solid rgb(255, 252, 252);-*/
  border-color: antiquewhite;
  justify-content: space-around ;
  row-gap: 15px;
  margin-left: 3%;
  margin-right: 3%;
}
/*--------------Row 1 -------*/
#movie1Row1 {
  grid-column: 1;
}
#movie2Row1 {
  grid-column: 2;
}
#movie3Row1 {
  grid-column: 3;
}
#movie4Row1 {
  grid-column: 4;
}

/*----------------------------------------------------Footer---------------------------------*/
#bottomLogo {
color:whitesmoke;
margin: auto;
width: 50%;
text-align: center;
padding: 10px;
}
#bottomLinks {
  color:whitesmoke;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }
  /*---------------------------------------------------------Registration Page---------------------------------------------*/
 
.main > div {
  display: inline-block;
  width: 49%;
  margin-top: 10px;
}
.two{
    .register {
       border: none; 
        
        h3 {
          border-bottom-color: #909090;
        }
    
        .sep{
          border-color: #909090;
        }
    }
}
.register {
  	width: 500px;
  	margin: 10px auto;
  	padding: 10px;
  	border: 7px solid $green-border;
  	border-radius: 10px;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  color: #444;
  	background-color: $back-color;
  	box-shadow: 0 0 20px 0 #000000;
   }

	div{
		margin: 0 0 15px 0;
	  	border : none;
	}

  #createAccountTitle {
    position: relative;
    margin: 0 15px 20px;
    padding-right: 45px;
	  	border-bottom: 2px solid $green-border;
	  	padding: 5px 10px 5px 0;
	  	font-size: 1.1em; 
  }

	label {
	  	display: inline-block;
	  	width: 25%;
	  	text-align: right;
	  	margin: 10px
	}

	input[type=text], input[type=password]{
  		width: 65%; 
  		font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
  		padding: 5px;
  		font-size: 0.9em;
  		border-radius: 5px;
  		background: rgba(0, 0, 0, 0.07);
	}
  
  input[type=text]:focus, input[type=password]:focus{
		background: #FFFFFF;
	}

	.button {
  		font-size: 1em;
  		border-radius: 8px;
  		padding: 10px;
  		border: 1px solid #59B969;
  		box-shadow: 0 1px 0 0 #60BD49 inset;
  		@include linear-gradient(#63E651, #42753E);
  		
		&:hover {
  			@include linear-gradient(#51DB1C, #6BA061);
  		}
	}
	
	.sep {
	  	border: 1px solid $green-border;
	  	position: relative;
	  	margin: 35px 20px;
	}

	.or {
	  	position: absolute;
	  	width: 50px;
	 	left: 50%;
	  	background: $back-color;
	  	text-align: center;
	  	margin: -10px 0 0 -25px;
	  	line-height: 20px;
	}
